





#game-form {
    display: grid;
    width: 60%;
    margin-left: 20%;
    grid-template-columns: repeat(1, 1fr);
    color: white;
}


.title-text {
    text-align: center;
}
.genre-text {
    text-align: center;
}
.platform-text {
    text-align: center;
}
.release_year-text {
    text-align: center;
}
.rating-text {
    text-align: center;
}

.submit {
    margin-left: 30%;
    width: 100px;
}

#go-back {
    color: black;
}