body {
    background-color: rgb(30, 30, 30);
}

#backgroundContainer {
    color: white;
}

#games {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 98%;
    margin-left: 1%;
    column-gap: 1%;
}

#header {
    position: relative;
    text-align: center;
    font-size: 25px;
    height: 250px;
}

#header h3{
margin-top: -20px;
}



#toggle {
    width: 100%;
    margin-right: 20px;
    text-align: right;
}
#toggle form {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

#toggle button {
    margin: 10px;
    width: 200px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 100px;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    background-image: linear-gradient(to right, #329664, #326496);
    cursor: pointer;
}




.library {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2.5%;
    background-color: rgb(60, 60, 60);
    background-image: repeating-linear-gradient(110deg,rgb(60, 60, 60) ,rgb(50, 53, 53) 1%,rgb(53, 56, 56) 5px,rgb(60, 60, 60) 1.5%,rgb(60, 60, 60) 2%);
    grid-column-end: span 3;
    border-radius: 20px;
    padding: 20px;
    overflow-y: auto;
}
@media only screen and (max-width: 1450px) {
    .library {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 1000px) {
    .library {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 670px) {
    .library {
        grid-template-columns: repeat(1, 1fr);
    }
}

#addGameContainer {
    background-color: rgb(60, 60, 60);
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(0, 150, 200);
    height: 500px;
    min-width: 200px;
}

#addGameText, #editGameText {
    margin-top: -10px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

#game-form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 70%;
    margin-left: 15%;
    margin-top: -10px;
}

#game-form > label {
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
}

#game-form > input {
    border-radius: 7px;
    width: 80%;
    margin-left: 10%;
}

.submit {
    margin-left: 40%;
    width: 100px;
}

#game-boxes {
    text-align: center;
    border-radius: 20px;
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-style: solid;
    border-color: rgb(103, 205, 7);;
    background-color: #3c3c3c;
}

#game-boxes > h1 {
    position: relative;
    color: rgb(163, 255, 67);
    font-size: 30px;
    height: 20%;
    bottom: 25%;
    text-align: center;
    z-index: 30;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

#background-gradient {
    text-align: center;
    border-radius: 20px;
    width: 100%;
    height: 300px;
    position: relative;
    border-style: solid;
    border-color: rgb(103, 205, 7);

    z-index: 20;
}

a {
    text-decoration: none;
    height: 300px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
#pic {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#game-pic {
    position: relative;
    height: 300px;
    width: 300px;
    z-index: 10;
    margin-top: -20px;
}

#game-info {
    color: rgb(163, 255, 67);
    font-size: 14px;
    padding-bottom: 50px;
}

#gameDetails {
    text-align: center;
    background-color: rgb(60, 60, 60);
    grid-column-end: span 3;
    border-radius: 20px; 
    height: 650px;
}

#gameDetails > a {
    width: 150px;
}


#addGameContainer > #wishlist {
    display: flex;
    justify-content: center;
    width: 100%;
}
#addGameContainer > #wishlist button{
    margin-top: 240px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 100px;
    margin-right: 0;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    background-image: linear-gradient(to right, #329664, #326496);
    cursor: pointer;
}


.back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    width: 150px;
    height: 60px;
    border-radius: 20px;
    color: white;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    font-size: 20px;
    background-image: linear-gradient(to right, #329664, #326496);
}

#addGameContainer > #delete {
    display: flex;
    justify-content: center;
    width: 100%;
}
.delete {
    color: white;
    background-color: red;
    font-size: 25px;
    border-radius: 15px;
    cursor: pointer;
}



/*edit profile page*/





#editProfile-box {
    background-color: rgb(60, 60, 60);
    background-image: repeating-linear-gradient(110deg,rgb(60, 60, 60) ,rgb(50, 53, 53) 1%,rgb(53, 56, 56) 5px,rgb(60, 60, 60) 1.5%,rgb(60, 60, 60) 2%);
    grid-column-end: span 3;
    border-radius: 20px;
}
#editProfile{
    text-align: center;
    height: 400px;
    width: calc(25% + 175px);
    margin-top: 10px;
    border-radius: 30px;
    border-style: solid;
    border-color: rgb(103, 205, 7);
    justify-content: center;
    justify-self: center;
    gap: 10px;
    background-color: rgb(50, 53, 53);
    box-shadow: 0 0 5px rgba(52, 219, 152, 0.8), 0 0 10px rgba(52, 219, 152, 0.6), 0 0 15px rgba(52, 219, 152, 0.4);
}

#editProfile input{
    margin-top: 5px;
    padding: 10px;
    box-sizing: border-box;
    width: calc(50% + 50px);
    border-radius: 100px;
}

#editProfile .submit{
    background-color: #9696ff;
    margin-top: 20px;
    margin-left: 0px;
    font-size: 18px;
    font-weight: bolder;
    color: white;
    width: 180px;
    cursor: pointer;
}

#editProfile h1 {
    color: white;
}

#editProfile form {
    margin-top: 10px;
}