body {
    background-image: repeating-linear-gradient(70deg, #28283c 0%, #1e1e28 15%, #28283c 30%);
    text-shadow: 4px 4px 15px rgba(0, 0, 0, 0.6); /* Adds a glowing effect */
}

#form-Container{
    text-align: center;
    width: 30%;
    height: 150px;
    margin-left: 30%;
    margin-top: 100px;
    border-radius: 30px;
    border-style: solid;
    justify-content: center;
    padding: 5%;
    gap: 10px;
    background-color: dimgrey;
    background-image: linear-gradient(to right, #329664, #326496);
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.8), 0 0 10px rgba(52, 152, 219, 0.6), 0 0 15px rgba(52, 152, 219, 0.4);
}

#form-Container input{
    margin-top: 10px;
    padding: 2%;
    box-sizing: border-box;
    width: 100%;
    border-radius: 100px;
}

#form-Container .submit{
    background-color: #9696ff;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    width: 100px;
}

#form-Container h1 {
    color: white;
}

#form-Container form {
    margin-top: -50px;
}
#toggle {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}
#toggle button {
    margin-top: 10px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 100px;
    margin-right: 0;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    background-image: linear-gradient(to right, #329664, #326496);
}

#errorMessage {
    color: white;
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;
}